{% extends 'layout.html' %}}
{% block content %}
<style>
    .nfdiv {
        width: 100%;
        height: 100vh !important;
        background-image: url("{{url_for('static', filename='resources/notfound.jpg')}}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
<div class="nfdiv">
    <div class="container">
        <div class="row message404">
            404
        </div><br>
        <div class="row message4042">
            Not found...
        </div>
    </div>
</div>
{% endblock %}