{% extends 'layout.html' %}}
{% block content %}
<style>
    .nfdiv {
        position: relative;
        width: 90vw;
        height: 70vh !important;
        top:50px;
        left: 5%;
        background-image: url("{{url_for('static', filename='resources/notfound.jpg')}}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
<div class="nfdiv">
    <div class="container center">
        <div class="row message404">
            404
        </div>
        <div class="row message4042">
            Not found...
        </div>
    </div>
</div>
{% endblock %}